# Breaking Silos

UN Datathon 2023

Sources:

- [CO2 Emissionen Geb√§ude](https://www.bafu.admin.ch/bafu/de/home/themen/klima/fachinformationen/verminderungsmassnahmen/gebaeude/co2-rechner-gebaeude.html#accordion1699022038096) (download .CSV format, unzip into the `data` folder)

In [37]:
import os
import pandas as pd
from matplotlib import pyplot as plt

In [38]:
F_BUILDINGS = os.path.join('data', 'MAPGEO_GEB_CO2.txt')

# Read in the basic dataset
df_buildings = pd.read_csv(F_BUILDINGS, header=0, sep='\t')
'Loaded: %d rows' % (len(df_buildings))

'Loaded: 1790170 rows'

In [39]:
F_ADDRESSES = os.path.join('data', 'MAPGEO_DOM_CO2.txt')

# Read in the basic dataset
df_addresses = pd.read_csv(F_ADDRESSES, header=0, sep='\t')
'Loaded: %d rows' % (len(df_addresses))

'Loaded: 1861915 rows'

In [40]:
df_addresses.head(1)

,EGID,EDID,STRSP,DEXPDAT,STRNAME_DEINR,DPLZ4_DPLZNAME
0,564,0,DE,01.11.2023,Alte Hedingerstrasse 39,8910 Affoltern am Albis

In [41]:
# Clean up some columns we're not interested in
if 'LINKCO2' in df_buildings:
    df_buildings = df_buildings.drop('LINKCO2', axis=1)
if 'LINKBAFU' in df_buildings:
    df_buildings = df_buildings.drop('LINKBAFU', axis=1)
if 'LINKPDF' in df_buildings:
    df_buildings = df_buildings.drop('LINKPDF', axis=1)
if 'HINWEIS' in df_buildings:
    df_buildings = df_buildings.drop('HINWEIS', axis=1)
df_buildings.head(10)

,EGID,GKODE,GKODN,GSTAT,GKAT,GWAERZH1,GENH1,GWAERSCEH1,CO2_CLASS,CO2_RANGE,GUE20,GEXPDAT
0,11513432,2679649.268,1237500.347,1004,1020,7430.0,7530.0,860.0,7,> 25,1,01.11.2023
1,11513433,2680637.900,1236936.229,1004,1020,7430.0,7530.0,860.0,7,> 25,1,01.11.2023
2,11517090,2679018.828,1235828.156,1004,1020,7431.0,7530.0,860.0,7,> 25,1,01.11.2023
3,1600000,2679679.869,1237453.256,1004,1020,7430.0,7530.0,869.0,7,> 25,1,01.11.2023
4,1600001,2679694.997,1237491.284,1004,1030,7436.0,7530.0,869.0,7,> 25,0,01.11.2023
5,1600002,2679723.955,1237479.329,1004,1030,7410.0,7598.0,869.0,1,0,0,01.11.2023
6,1600003,2679662.647,1237522.495,1004,1020,7431.0,7530.0,860.0,7,> 25,1,01.11.2023
7,1600005,2679754.242,1237530.436,1004,1020,7430.0,7530.0,860.0,7,> 25,1,01.11.2023
8,1600006,2679710.185,1237543.854,1004,1020,7430.0,7540.0,860.0,1,0,1,01.11.2023
9,1600007,2679684.826,1237581.429,1004,1020,7430.0,7530.0,860.0,7,> 25,1,01.11.2023

In [42]:
len(df_buildings)

1790170

In [47]:
bbox = df_buildings[(df_buildings.GKODE > 2512875.0) | (df_buildings.GKODN > 1131325.0)].index
df_geneva = df_buildings.drop(bbox)
len(df_geneva)

47708

In [48]:
F_GENEVA = os.path.join('data', 'MAPGEO_GEB_CO2_GENEVA.txt')
df_geneva.to_csv(F_GENEVA)